@use "../base/variables" as *;
.flex { display: flex; }
.items-center { align-items: center; }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }

.gap-sm { gap: $spacing-sm; }
.gap-md { gap: $spacing-md; }
.spacing-y-sm > * + * { margin-top: $spacing-sm; }

.padding-md { padding: $spacing-md; }
.padding-y-sm { padding-top: $spacing-sm; padding-bottom: $spacing-sm; }
.padding-y-md { padding-top: $spacing-md; padding-bottom: $spacing-md; }
.padding-y-lg { padding-top: $spacing-lg; padding-bottom: $spacing-lg; }
.padding-y-xl { padding-top: $spacing-xl; padding-bottom: $spacing-xl; }

.margin-bottom-sm { margin-bottom: $spacing-sm; }
.margin-bottom-md { margin-bottom: $spacing-md; }
.margin-bottom-lg { margin-bottom: $spacing-lg; }

.max-width-adaptive-lg {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.text-center { text-align: center; }
.text-lg { font-size: 1.125rem; }
.text-xxxl { font-size: 2.5rem; }
.font-primary { font-family: $font-family-heading; }
