@use "../base/variables" as *;
@use "../tokens/colors" as *;

.demo-section {
  padding-top: $spacing-lg;
  padding-bottom: $spacing-lg;
  border-bottom: 1px solid $medium-gray;

  &:last-of-type {
    border-bottom: 0;
  }
}
