@use "../base/variables" as *;
@use "../tokens/colors" as *;
.card {
  background-color: $charcoal;
  color: $white;
  padding: $spacing-md;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  margin-bottom: $spacing-md;
}
