@use '../base/variables' as *;
@use '../tokens/colors' as *;
.form-group {
  margin-bottom: $spacing-md;
}

label {
  display: block;
  margin-bottom: $spacing-xs;
  font-weight: 600;
}

input,
textarea,
select {
  width: 100%;
  padding: $spacing-xs $spacing-sm;
  border: 1px solid $border;
  border-radius: $border-radius;
  background-color: $charcoal;
  color: $white;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: $bright-green;
}

input[disabled],
textarea[disabled],
select[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.is-valid,
.is-invalid {
  position: relative;
  padding-left: $spacing-lg;
  border: 1px solid transparent;
  border-radius: $border-radius;
}

.is-valid {
  border-color: $success;
  background-color: rgba(135, 189, 114, 0.15);
}

.is-valid::before {
  font-family: 'Phosphor';
  content: '\e184';
  position: absolute;
  left: $spacing-sm;
  top: 50%;
  transform: translateY(-50%);
  color: $success;
  font-size: 1rem;
}

.is-invalid {
  border-color: $danger;
  background-color: rgba(224, 49, 49, 0.15);
}

.is-invalid::before {
  font-family: 'Phosphor';
  content: '\e4f8';
  position: absolute;
  left: $spacing-sm;
  top: 50%;
  transform: translateY(-50%);
  color: $danger;
  font-size: 1rem;
}
