@use "../tokens/colors" as *;

i[class^="ti"], i[class*=" ti-"] {
  display: inline-block;
  color: $icon;
  background: radial-gradient(circle at 50% 50%, #f4f4f4, $icon);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.3s ease;
}

a:hover i[class^="ti"], a:active i[class^="ti"],
button:hover i[class^="ti"], button:active i[class^="ti"],
i[class^="ti"]:hover, i[class^="ti"]:active {
  background: radial-gradient(circle at 50% 50%, $medium-green, $deep-green);
}
