@use "../base/variables" as *;
@use "../tokens/colors" as *;

.password-strength {
  .password-reqs {
    list-style: none;
    margin: $spacing-xs 0 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      margin-bottom: $spacing-xxs;
      color: $medium-gray;
      i {
        margin-right: $spacing-xxs;
      }
      &.valid {
        color: $bright-green;
      }
      &.invalid {
        color: $accent;
      }
    }
  }
}

input.valid {
  border-color: $bright-green;
}

input.invalid {
  border-color: $accent;
}
