@use "sass:color";
@use "../tokens/colors" as *;

body.theme-dark {
  background-color: #666;
  color: $white;

  a {
    color: $medium-gray;

    &:hover {
      color: $bright-green;
    }

    &.active {
      color: $lime-green;
    }
  }
}
