@use "sass:color";
@use "../tokens/colors" as *;

body.theme-dark {
  background: var(--dark-main-gradient);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;

  a {
    color: $medium-gray;

    &:hover {
      color: $bright-green;
    }

    &.active {
      color: $lime-green;
    }
  }
}
