@use "variables" as *;
.container {
  width: min(90%, 1200px);
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  padding: $spacing-lg 0;
}

body.theme-fade {
  transition: background-color 0.3s ease, color 0.3s ease;
}
