@use "variables" as *;
@use "../tokens/colors" as *;
.container {
  width: min(90%, 1200px);
  margin-left: auto;
  margin-right: auto;
}

.container--spaced {
  @extend .container;
  padding: $spacing-lg;
}

.container--border {
  @extend .container;
  padding: $spacing-lg;
  border: 1px solid $border;
  background: transparent;
}

.main-content {
  padding: $spacing-lg 0;
}

body.theme-fade {
  transition: background-color 0.3s ease, color 0.3s ease;
}
