@use "variables" as *;
@use "../tokens/colors" as *;
*,*::before,*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $black;
  color: $white;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("images/sitebg/21950c663e716caf4cb0f50c048adf8d.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: -1;
}

img, video {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
