@use "variables" as *;
@use "../tokens/colors" as *;
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: $font-family-heading;
  font-weight: 700;
  line-height: 1.2;
}

h1 { font-size: 2.25rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }

p {
  margin: 0 0 $spacing-md;
}

a {
  color: $medium-gray;
  text-decoration: none;
  transition: $transition;

  &:hover,
  &:focus {
    color: $medium-gray;
    text-decoration: underline;
  }
}
