:root {
  --gray-50: #fdfdfd;
  --gray-100: #d5d5d5;
  --gray-200: #b8bab7;
  --gray-600: #313132;
  --gray-700: #2f2f2f;
  --gray-800: #212121;
  --gray-900: #161616;
  --brand-green-700: #456f3a;
  --brand-green-600: #6da667;
  --brand-green-500: #87bd72;
  --brand-green-400: #8cd679;
  --brand-green-200: #c2e9c1;
  --focus-ring: 0 0 0 3px rgba(135, 189, 114, 0.35);
  --color-primary: #456f3a;
  --color-primary-hover: #6da667;
  --color-bright: #87bd72;
  --color-mint: #c2e9c1;
  --color-lime: #8cd679;
  --color-charcoal: #3b3c3b;
  --color-muted: #b8bab7;
  --color-black: #070a06;
  --color-white: #fdfdfd;
  --color-surface: #212121;
  --color-icon: #e6e6e6;
  --color-border: rgba(255, 255, 255, 0.1);
  --color-accent: #8cd679;
  --color-contrast-high: #fdfdfd;
  --color-success: #87bd72;
  --color-danger: #e03131;
  --grad-green: linear-gradient(var(--brand-green-700), var(--brand-green-400));
  --grad-gray: linear-gradient(var(--gray-900), var(--gray-800));
  --grad-gray-top: linear-gradient(to top, var(--gray-900), var(--gray-800));
  --grad-gray-light: linear-gradient(var(--gray-700), var(--gray-600));
  --grad-lemon-lime: linear-gradient(#7fc66c, #63a355);
  --lemon-lime-border: #679c59;
  --lemon-lime-text: #ffffff;
  --grad-lemon-lime-stroke: linear-gradient(#7fc66c, #63a355);
  --lemon-lime-stroke-border: #f0ffeb;
  --lemon-lime-stroke-text: #ffffff;
  --grad-charcoal-lime: linear-gradient(#3f3f3f, #2c2c2c);
  --charcoal-lime-border: #333333;
  --charcoal-lime-text: #9ddc8e;
  --grad-charcoal-mint: linear-gradient(#3f3f3f, #2c2c2c);
  --charcoal-mint-border: #99aa95;
  --charcoal-mint-text: #b0eaa3;
  --grad-booger-snow: linear-gradient(#ffffff, #e5e5e5);
  --booger-snow-border: #416a39;
  --booger-snow-text: var(--booger-snow-border);
  --grad-cash-cloud: linear-gradient(#4f8141, #354f2e);
  --cash-cloud-border: #052614;
  --cash-cloud-text: #eeecec;
  --radial-light-bg: radial-gradient(circle at center, #f5f5f5, #dadada);
  --grad-kelly-green: linear-gradient(#63a553, #447239);
  --kelly-green-border: #679c59;
  --kelly-green-text: #ffffff;
  --grad-light-container: linear-gradient(130deg, #eaeaea, #dadada);
  --light-container-border: #d5d5d5;
  --light-container-text: #717171;
  --light-container-accent: #67a658;
  --light-nav-gradient: linear-gradient(#eaeaea, #cacaca);
  --light-footer-gradient: linear-gradient(#fdfbfb, #f1f0f0);
  --dark-main-gradient: linear-gradient(#494949, #525151 50%, #646464);
  --header-gradient: var(--grad-gray);
  --footer-gradient: var(--grad-gray);
}

.theme-light {
  --color-charcoal: #3b3c3b;
  --color-black: #070a06;
  --color-white: #ffffff;
  --color-surface: #eaeaea;
  --color-icon: #717171;
  --color-border: rgba(0, 0, 0, 0.15);
  --color-contrast-high: #070a06;
  --gray-900: #070a06;
  --gray-800: #3b3c3b;
  --gray-700: #b8bab7;
  --gray-600: #d5d5d5;
  --header-gradient: var(--light-nav-gradient);
  --footer-gradient: var(--light-footer-gradient);
}
