$deep-green: #456F3A;
$medium-green: #6DA667;
$bright-green: #87BD72;
$mint-green: #C2E9C1;
$lime-green: #8CD679;
$charcoal: #3B3C3B;
$light-gray: #D5D5D5;
$medium-gray: #B8BAB7;
$black: #070A06;
$white: #FDFDFD;

// extended dark grays for layouts
$gray-900: #161616;
$gray-800: #212121;
$gray-700: #313132;
$gray-600: #2F2F2F;
